In [1]:
import numpy as np
import pandas as pd
import json

import ipywidgets as widgets
from IPython.display import display

import matplotlib.pyplot as plt

In [2]:
def read_file(path):
    return pd.io.json.read_json(get_path(path))


get_path = lambda path: f'./json/{path}.json'
files = ["book", "patron", "rent"]
dfs = dict(zip(files, map(read_file, files)))

In [3]:
f = open('./faculties_map.json')
faculties = json.load(f)

f2 = open('./library_map.json')
library = json.load(f2)

In [4]:
faculties_map = {}
for k,v in faculties.items():
    for x in v:
        faculties_map[x] = k
        
library_map = {}
for k,v in library.items():
    for x in v:
        library_map[x] = k

In [5]:
dfs['book']['library'] = dfs['book']['library'].map(library_map)
dfs['book'].to_json('./mapped/book.json', orient='records')

In [10]:
dfs['patron']['library'] = dfs['patron']['library'].map(library_map)
dfs['patron']['ptype'] = dfs['patron']['ptype'].map(faculties_map)
dfs['patron'].to_json('./mapped/patron.json', orient='records')

In [7]:
dfs['rent']['library'] = dfs['rent']['library'].map(library_map)
dfs['rent']['faculty'] = dfs['rent']['faculty'].map(faculties_map)
dfs['rent'].to_json('./mapped/rent.json', orient='records')

In [8]:
dfs['rent'].head()

,id,faculty,library,title,day,month,year,period
0,0,Veterinary,Veterinary Science Library,Miller's guide to the dissection of the dog,Fri,4,2011,morning
1,1,Veterinary,Veterinary Science Library,Small Animal Dentistry,Thu,7,2010,afternoon
2,2,Veterinary,Veterinary Science Library,Clinical sciences,Mon,7,2010,afternoon
3,3,Veterinary,Veterinary Science Library,The 5 minute Veterinary consult clinical compa...,Fri,6,2010,morning
4,4,Veterinary,Veterinary Science Library,Managing a veterinary practice,Wed,3,2011,morning