In [2]:
import pandas as pd
import json

In [5]:
def read_file(path):
    return pd.io.json.read_json(get_path(path))


get_path = lambda path: f'./json/{path}.json'
files = ["book", "patron", "rent"]
dfs = dict(zip(files, map(read_file, files)))

## Book that store in 1 library but rented a lot in another library

In [15]:
dfs['rent'].head()

,id,faculty,library,day,month,year,period
0,0,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,Fri,4,2011,morning
1,1,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,Thu,7,2010,afternoon
2,2,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,Mon,7,2010,afternoon
3,3,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,Fri,6,2010,morning
4,4,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,Wed,3,2011,morning

In [13]:
dfs['book'].head()

,id,title,library,internal_use_count,day,month,year,period
0,0,Dairy production,Veterinary Science Library,0,Wed,10,2016,afternoon
1,1,Animal pain perception and alleviation,Veterinary Science Library,0,Mon,5,2010,afternoon
2,2,Animal Pathology,Veterinary Science Library,2,Thu,1,2015,afternoon
3,3,Fundamentals of small animal surgery,Veterinary Science Library,2,Fri,6,2010,afternoon
4,4,Systema helminthum,Veterinary Science Library,0,Wed,1,2013,afternoon

In [16]:
dfs['patron'].head()

,id,ptype,library,renewal_total,checkout_total,day,month,year,period
0,0,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,1,80,Fri,4,2011,morning
1,1,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,1,80,Thu,7,2010,afternoon
2,2,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,1,80,Mon,7,2010,afternoon
3,3,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,1,80,Fri,6,2010,morning
4,4,อ.คณะสัตวแพทย์ฯ,Veterinary Science Library,1,80,Wed,3,2011,morning