# Data Pipeline

## Join Data

In [2]:
import pandas as pd

#### bib_view_ed

In [3]:
raw = pd.read_csv('inbox/Copy of bib_view_ed.csv', low_memory=False)
raw = raw[['id', 'language_code', 'title']]
raw = raw.rename(columns={'id': 'bib_record_id'})

# Remove language_code NaN in raw
raw['language_code'] = raw.apply(lambda row: str(row['language_code']), axis=1)
data = raw[raw['language_code'] != 'nan']
data.head()

,bib_record_id,language_code,title
0,420907947326,eng,Moving field radiation therapy
1,420907947493,eng,"Clinical toxicology of commercial products, ac..."
2,420907947184,eng,Dairy production
3,420907947168,eng,An outline of chemical genetics
4,420907947116,eng,Birds of the Lake Tahoe region

#### bib_record_item_record_link

In [4]:
raw = pd.read_csv('inbox/Copy of bib_record_item_record_link.csv', low_memory=False)
raw = raw[['bib_record_id', 'item_record_id']]

data = pd.merge(data, raw, on='bib_record_id', how='inner')
data.head()

,bib_record_id,language_code,title,item_record_id
0,420907947326,eng,Moving field radiation therapy,450972715504
1,420907947493,eng,"Clinical toxicology of commercial products, ac...",450972715671
2,420907947184,eng,Dairy production,450972715362
3,420907947184,eng,Dairy production,450972874747
4,420907947168,eng,An outline of chemical genetics,450972715346

#### item_view_ed

In [5]:
raw = pd.read_csv('inbox/Copy of item_view_ed.csv', low_memory=False)
raw = raw[['id', 'location_code', 'internal_use_count']]
raw = raw.rename(columns={'id': 'item_record_id'})

# Remove location_code NaN in raw
raw['location_code'] = raw.apply(lambda row: str(row['location_code']), axis=1)
raw = raw[raw['location_code'] != 'nan']

data = pd.merge(data, raw, on='item_record_id', how='inner')
data.head()

,bib_record_id,language_code,title,item_record_id,location_code,internal_use_count
0,420907947326,eng,Moving field radiation therapy,450972715504,fvs,0
1,420907947493,eng,"Clinical toxicology of commercial products, ac...",450972715671,fvs,0
2,420907947184,eng,Dairy production,450972715362,fvs,0
3,420907947184,eng,Dairy production,450972874747,fvs,0
4,420907947168,eng,An outline of chemical genetics,450972715346,fvs,0

#### location

In [6]:
raw = pd.read_csv('inbox/Copy of location.csv', low_memory=False)
raw = raw[['id', 'code']]
raw = raw.rename(columns={'id': 'location_id', 'code': 'location_code'})

# Remove location_code NaN in raw
raw['location_code'] = raw.apply(lambda row: str(row['location_code']), axis=1)
raw = raw[raw['location_code'] != 'nan']

data = pd.merge(data, raw, on='location_code', how='inner')
data.head()

,bib_record_id,language_code,title,item_record_id,location_code,internal_use_count,location_id
0,420907947326,eng,Moving field radiation therapy,450972715504,fvs,0,34
1,420907947493,eng,"Clinical toxicology of commercial products, ac...",450972715671,fvs,0,34
2,420907947184,eng,Dairy production,450972715362,fvs,0,34
3,420907947184,eng,Dairy production,450972874747,fvs,0,34
4,420907947168,eng,An outline of chemical genetics,450972715346,fvs,0,34

#### location_name_ed

In [7]:
raw = pd.read_csv('inbox/Copy of location_name_ed.csv', low_memory=False)
raw = raw[['location_id', 'name']]
raw = raw.rename(columns={'name': 'library'})

data = pd.merge(data, raw, on='location_id', how='inner')
data.head()

,bib_record_id,language_code,title,item_record_id,location_code,internal_use_count,location_id,library
0,420907947326,eng,Moving field radiation therapy,450972715504,fvs,0,34,Veterinary Science Library
1,420907947493,eng,"Clinical toxicology of commercial products, ac...",450972715671,fvs,0,34,Veterinary Science Library
2,420907947184,eng,Dairy production,450972715362,fvs,0,34,Veterinary Science Library
3,420907947184,eng,Dairy production,450972874747,fvs,0,34,Veterinary Science Library
4,420907947168,eng,An outline of chemical genetics,450972715346,fvs,0,34,Veterinary Science Library

#### item_cicr_history

In [8]:
raw = pd.read_csv('inbox/Copy of item_circ_history.csv', low_memory=False)
raw = raw[['item_record_metadata_id', 'patron_record_metadata_id', 'checkout_gmt']]
raw = raw.rename(columns={
    'item_record_metadata_id': 'item_record_id',
    'patron_record_metadata_id': 'patron_record_id'
})

data_witout_patron = pd.merge(data, raw, on='item_record_id', how='inner')
data_witout_patron.head()

,bib_record_id,language_code,title,item_record_id,location_code,internal_use_count,location_id,library,patron_record_id,checkout_gmt
0,420907947184,eng,Dairy production,450972715362,fvs,0,34,Veterinary Science Library,481037591425,2016-10-12 16:56:41.000
1,420907947017,eng,Animal pain perception and alleviation,450973378353,fvs,0,34,Veterinary Science Library,481037352470,2010-05-03 14:37:33.000
2,420907947073,eng,Animal Pathology,450972874724,fvs,2,34,Veterinary Science Library,481037536784,2015-01-08 15:20:00.000
3,420907947283,eng,Fundamentals of small animal surgery,450972874826,fvs,2,34,Veterinary Science Library,481037494142,2010-06-18 17:21:29.000
4,420907947121,eng,Systema helminthum,450972919395,fvs,0,34,Veterinary Science Library,481037549232,2013-01-09 13:07:43.000

#### patron_view_ed

In [9]:
raw = pd.read_csv('inbox/Copy of patron_view_ed.csv', low_memory=False)
raw = raw[['id', 'ptype_code', 'checkout_total', 'renewal_total']]
raw = raw.rename(columns={'id': 'patron_record_id'})

data = pd.merge(data_witout_patron, raw, on='patron_record_id', how='inner')
data.head()

,bib_record_id,language_code,title,item_record_id,location_code,internal_use_count,location_id,library,patron_record_id,checkout_gmt,ptype_code,checkout_total,renewal_total
0,420907944890,eng,Miller's guide to the dissection of the dog,450972871320,fvs,3,34,Veterinary Science Library,481037478320,2011-04-01 09:25:02.000,114,80,1
1,420908599732,eng,Small Animal Dentistry,450974007733,fvs,0,34,Veterinary Science Library,481037478320,2010-07-15 15:41:43.000,114,80,1
2,420908582702,eng,Clinical sciences,450973926563,fvs,0,34,Veterinary Science Library,481037478320,2010-07-19 17:01:46.000,114,80,1
3,420908513119,eng,The 5 minute Veterinary consult clinical compa...,450973931773,fvs,0,34,Veterinary Science Library,481037478320,2010-06-18 08:38:04.000,114,80,1
4,420908258194,eng,Managing a veterinary practice,450973273705,fvs,0,34,Veterinary Science Library,481037478320,2011-03-09 07:26:34.000,114,80,1

#### ptype_property_name_ed

In [10]:
raw = pd.read_csv('inbox/Copy of ptype_property_name_ed.csv', low_memory=False)
raw = raw[['ptype_id', 'description']]
raw = raw.rename(columns={'ptype_id': 'ptype_code', 'description': 'ptype'})

data_with_patron = pd.merge(data, raw, on='ptype_code', how='inner')

del raw
del data

data_with_patron.head()

,bib_record_id,language_code,title,item_record_id,location_code,internal_use_count,location_id,library,patron_record_id,checkout_gmt,ptype_code,checkout_total,renewal_total,ptype
0,420907944890,eng,Miller's guide to the dissection of the dog,450972871320,fvs,3,34,Veterinary Science Library,481037478320,2011-04-01 09:25:02.000,114,80,1,อ.คณะสัตวแพทย์ฯ
1,420908599732,eng,Small Animal Dentistry,450974007733,fvs,0,34,Veterinary Science Library,481037478320,2010-07-15 15:41:43.000,114,80,1,อ.คณะสัตวแพทย์ฯ
2,420908582702,eng,Clinical sciences,450973926563,fvs,0,34,Veterinary Science Library,481037478320,2010-07-19 17:01:46.000,114,80,1,อ.คณะสัตวแพทย์ฯ
3,420908513119,eng,The 5 minute Veterinary consult clinical compa...,450973931773,fvs,0,34,Veterinary Science Library,481037478320,2010-06-18 08:38:04.000,114,80,1,อ.คณะสัตวแพทย์ฯ
4,420908258194,eng,Managing a veterinary practice,450973273705,fvs,0,34,Veterinary Science Library,481037478320,2011-03-09 07:26:34.000,114,80,1,อ.คณะสัตวแพทย์ฯ

## Group faculty and library

In [11]:
import json

cache_library = {}
cache_faculty = {}
    
with open('library_map.json', 'r') as json_file:
    library_map = json.loads(json_file.read())
    
with open('faculties_map.json', 'r') as json_file:
    faculties_map = json.loads(json_file.read())

In [12]:
def get_library_group(library):
    if library in cache_library:
        return cache_library[library]
    
    for key, values in library_map.items():
        if library in values:
            cache_library[library] = key
            return key

In [13]:
def get_faculty_group(ptype):
    if ptype in cache_faculty:
        return cache_faculty[ptype]
    
    for key, values in faculties_map.items():
        if ptype in values:
            cache_faculty[ptype] = key
            return key

In [14]:
data_witout_patron['library'] = data_witout_patron.apply(
    lambda row: get_library_group(row['library']), axis=1
)

data_with_patron['library'] = data_with_patron.apply(
    lambda row: get_library_group(row['library']), axis=1
)
data_with_patron['faculty'] = data_with_patron.apply(
    lambda row: get_faculty_group(row['ptype']), axis=1
)

In [15]:
del cache_library
del cache_faculty
del library_map
del faculties_map

## Convert to json

In [16]:
import os
from datetime import datetime

static_dimension = {
    'book': ['title', 'library', 'language_code', 'internal_use_count', 'checkout_gmt'],
    'patron': ['ptype', 'library', 'renewal_total', 'checkout_total', 'checkout_gmt'],
    'rent': ['faculty', 'library', 'title', 'checkout_gmt']
}

codeday = {
    0: 'Mon',
    1: 'Tue',
    2: 'Wed',
    3: 'Thu',
    4: 'Fri',
    5: 'Sat',
    6: 'Sun'
}

In [17]:
def datetime_parser(gmt, group, key):
    gmt = datetime.strptime(gmt[:-4], '%Y-%m-%d %H:%M:%S')
    day = codeday[gmt.weekday()]
    month = str(gmt.month)
    year = str(gmt.year)
    time = gmt.time()
    
    # Day
    if day + '_day' not in group[key] :
        group[key][day + '_day'] = 1
    elif day + '_day' in group[key] :
        group[key][day + '_day'] += 1

    # Month
    if month + '_month' not in group[key] :
        group[key][month + '_month'] = 1
    elif month + '_month' in group[key] :
        group[key][month + '_month'] += 1

    # Year
    if year + '_year' not in group[key] :
        group[key][year + '_year'] = 1
    elif year + '_year' in group[key] :
        group[key][year + '_year'] += 1

    # Duration
    if time.hour < 12 and 'morning' not in group[key] :
        group[key]['morning_period'] = 1
    elif time.hour < 12 :
        group[key]['morning_period'] += 1

    if 12 <= time.hour < 18 and 'afternoon' not in group[key] :
        group[key]['afternoon_period'] = 1
    elif 12 <= time.hour < 18 :
        group[key]['afternoon_period'] += 1

    if time.hour >= 18 and 'evening' not in group[key] :
        group[key]['evening_period'] = 1
    elif time.hour >= 18 :
        group[key]['evening_period'] += 1

In [18]:
def get_group_by_dim(columns):
    group = {}
    
    if ('ptype' in columns) or ('faculty' in columns):
        data = data_with_patron[columns]
    else : 
        data = data_witout_patron[columns]
        
    for index, row in data.iterrows():
        key = len(group)
        if key not in group:
            group[key] = {column: row[column] for column in columns}
            
        datetime_parser(row['checkout_gmt'], group, key)
        
        if index % 100000 == 0 :
            print(f'Progress is {index} from {data.shape[0]}')
    
    return group

In [19]:
def get_data(columns):
    data = []
    group = get_group_by_dim(columns)
    
    for key, values in group.items():
        sub_data = {k: values[k] for k in columns[:-1]}
        sub_data['id'] = len(data)
        
        for value, count in values.items():
            key = value.split('_')[-1]
            
            if key in ['day', 'month', 'yaer', 'period']:
                sub_data[key] = value.split('_')[0]
                
        data.append(sub_data)
    return data

In [20]:
if not os.path.isdir('data'):
    os.mkdir('data')

for basedim, columns in static_dimension.items():
    data = get_data(columns)
    
    with open(f'data/{basedim}.json', 'w') as file:
        json.dump(data, file)

Progress is 0 from 1261989
Progress is 100000 from 1261989
Progress is 200000 from 1261989
Progress is 300000 from 1261989
Progress is 400000 from 1261989
Progress is 500000 from 1261989
Progress is 600000 from 1261989
Progress is 700000 from 1261989
Progress is 800000 from 1261989
Progress is 900000 from 1261989
Progress is 1000000 from 1261989
Progress is 1100000 from 1261989
Progress is 1200000 from 1261989
Progress is 0 from 294424
Progress is 100000 from 294424
Progress is 200000 from 294424
Progress is 0 from 294424
Progress is 100000 from 294424
Progress is 200000 from 294424